* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body header #nav nav {
  width: 100%;
  height: 60px;
  padding: 0px 8%;
  display: flex;
  justify-content: space-between;
}
body header #nav nav .logo {
  height: 60px;
  display: flex;
  justify-content: start;
  font-size: 10px;
}
body header #nav nav .logo .logo-picture {
  width: 138px;
  padding-left: 5px;
  border: 1px solid rgba(0, 0, 0, 0);
  margin-right: 40px;
  display: flex;
  align-items: center;
}
body header #nav nav .logo .logo-picture img {
  width: 120px;
}
body header #nav nav .logo .logo-picture:hover {
  cursor: pointer;
}
body header #nav nav .logo .logo-picture:active {
  border: 1px dashed #000;
}
body header #nav nav .logo .connect {
  padding-top: 2px;
  padding-bottom: 10px;
  display: flex;
  justify-content: start;
}
body header #nav nav .logo .connect .link {
  line-height: 60px;
  height: 100%;
  margin-right: 20px;
  padding: 0px 10px;
  border: 1px solid rgba(0, 0, 0, 0);
}
body header #nav nav .logo .connect .link a {
  color: #000;
  text-decoration: none;
}
body header #nav nav .logo .connect .link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  cursor: pointer;
}
body header #nav nav .logo .connect .link:active {
  border: 1px dashed #000;
}
body header #nav nav .search-login {
  height: 60px;
  float: right;
  display: flex;
  justify-content: end;
}
body header #nav nav .search-login .all i {
  position: absolute;
  top: 30px;
  font-size: 15px;
}
body header #nav nav .search-login .link {
  height: 60px;
  line-height: 60px;
  margin-right: 15px;
  font-size: 13px;
  padding: 0px 10px;
  border: 1px solid rgba(0, 0, 0, 0);
}
body header #nav nav .search-login .link a {
  color: #000;
  text-decoration: none;
}
body header #nav nav .search-login .link:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  cursor: pointer;
}
body header #nav nav .search-login .link:active {
  border: 1px dashed #000;
}
body header #nav nav .search-login .search {
  margin-right: 60px;
}
body header #nav nav .search-login .login {
  width: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body header #nav nav .search-login .login img {
  height: 30px;
}
body header #nav nav .search-login .login:hover {
  text-decoration: none;
}
body main .banner {
  position: relative;
}
body main .banner picture img {
  width: 100%;
}
body main .banner .picture-word-shell {
  width: 100%;
  position: absolute;
  top: 0px;
  padding-left: 10%;
  padding-top: 10%;
}
body main .banner .picture-word-shell .picture-word {
  width: 30%;
}
body main .banner .picture-word-shell .picture-word .news-release {
  display: inline-block;
  padding: 5px 15px;
  background-color: #ffb900;
  margin-bottom: 15px;
}
body main .banner .picture-word-shell .picture-word h1 {
  font-size: 40px;
  margin-bottom: 15px;
}
body main .banner .picture-word-shell .picture-word .describe {
  margin-bottom: 15px;
}
body main .banner .picture-word-shell .picture-word p {
  display: inline-block;
  border: 0px;
  background-color: #0067b8;
  color: white;
  font-size: 15px;
  padding: 10px 15px;
}
body main .carousel-button {
  width: 100%;
  height: 50px;
  background-color: bisque;
}
body main .container-top {
  padding-top: 50px;
  margin-bottom: 80px;
}
body main .container-top ul {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  text-align: center;
  list-style-type: none;
}
body main .container-top ul li {
  width: 200px;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
body main .container-top ul li img {
  width: 40px;
  height: 40px;
}
body main .container-top ul li a {
  color: #0067b8;
}
body main .container-mid {
  display: flex;
  justify-content: center;
  padding: 0px 10%;
  margin: 50px 0px;
  display: flex;
  justify-content: space-between;
}
body main .container-mid .commodity {
  width: calc(25% - 12px);
}
body main .container-mid .commodity img {
  width: 100%;
  margin-bottom: 20px;
}
body main .container-mid .commodity .word h2 {
  font-size: 30px;
  margin-bottom: 20px;
}
body main .container-mid .commodity .link-group {
  margin-top: 20px;
}
body main .container-mid .commodity .link-group a {
  font-size: 18px;
  color: #0067b8;
  text-decoration: none;
  margin: 16px 24px 16px 0px;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  float: left;
}
body main .banner-2 {
  width: 100%;
  margin: 50px 0px 80px;
  padding: 0px 10%;
  position: relative;
}
body main .banner-2 picture img {
  width: 100%;
}
body main .banner-2 .picture-word-shell {
  width: calc(100% - 150px);
  position: absolute;
  top: 0;
  padding-left: 5%;
  padding-top: 10%;
}
body main .banner-2 .picture-word-shell .picture-word {
  width: 24%;
}
body main .banner-2 .picture-word-shell .picture-word h1 {
  font-size: 40px;
  margin-bottom: 15px;
}
body main .banner-2 .picture-word-shell .picture-word .describe {
  margin-bottom: 15px;
}
body main .banner-2 .picture-word-shell .picture-word button {
  border: 0px;
  background-color: #0067b8;
  color: white;
  font-size: 15px;
  padding: 10px 15px;
}
body main .container-bot {
  padding: 0px 10%;
}
body main .container-bot h1 {
  margin-bottom: 20px;
}
body main .container-bot .information {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
body main .container-bot .information .card {
  width: calc(25% - 12px);
  margin-bottom: 60px;
}
body main .container-bot .information .card ul {
  list-style-type: none;
  float: left;
}
body main .container-bot .information .card ul li {
  display: inline-block;
  padding: 5px 15px;
  background-color: #ffb900;
}
body main .container-bot .information .card picture img {
  width: 100%;
  margin-bottom: 15px;
}
body main .container-bot .information .card .word h2 {
  font-size: 30px;
  margin: 40px 0px 20px;
}
body main .container-bot .information .card .word a {
  margin-top: 20px;
  font-size: 18px;
  color: #0067b8;
  text-decoration: none;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
body main .container-bot .community {
  margin-bottom: 100px;
}
body main .container-bot .community ul {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body main .container-bot .community ul li {
  list-style-type: none;
}
body main .container-bot .community ul img {
  width: 32px;
  height: 32px;
}/*# sourceMappingURL=microsoft.css.map */