* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
    font-family: Microsoft JhengHei;


}

body {
    header {

        #nav {
            width: 100%;
            height: 60px;


            nav {
                position: relative;
                width: 100%;
                height: 60px;
                // background-color: aqua;
                padding: 0px 8%;

                .logo {
                    float: left;
                    padding-top: 15px;
                    border: 1px solid rgba($color: #000000, $alpha: 0);

                    img {
                        width: 120px;
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    &:active {
                        border: 1px dashed #000;
                    }

                    @media(max-width:860px) {
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                    }


                }

                label {
                    float: right;
                    line-height: 60px;
                    font-size: 13px;

                    // display: none;
                    .all {
                        span {
                            @media(max-width:860px) {
                                display: none;
                            }
                        }

                        .menu {
                            display: none;

                            @media(max-width:860px) {
                                display: block;
                                font-size: 30px;
                                margin-left: 10px;
                            }
                        }
                    }

                    @media(max-width:860px) {
                        float: left;
                    }
                }

                input {
                    display: none;
                }

                #check:checked+div>.all-list {
                    display: flex;
                }

                #check:checked+div {
                    @media(max-width:860px) {
                        display: block;

                    }
                }

                .hamburger {
                    float: right;

                    .list {
                        position: absolute;
                        display: flex;
                        left: 20%;

                        a {
                            color: #000;
                            text-decoration: none;
                            height: 50px;
                            line-height: 60px;
                            font-size: 13px;
                            padding: 0px 10px;
                            border: 1px solid rgba($color: #000000, $alpha: 0);


                            &:hover {
                                text-decoration: underline;
                                text-decoration-thickness: 2px;
                                text-underline-offset: 2px;

                            }

                            &:active {
                                border: 1px dashed #000;
                            }

                            @media(max-width:860px) {
                                position: static;
                                display: block;
                                height: auto;
                                line-height: normal;
                                padding: 14px 24px 15px 15px;
                                margin: 1px;
                                border-bottom: 1px solid #e6e6e6
                            }
                        }

                        @media(max-width:860px) {
                            position: static;
                            display: block;
                            background-color: #f2f2f2;

                        }

                    }

                    .all-list {
                        width: 80%;
                        position: absolute;
                        top: 60px;
                        right: 10%;
                        display: flex;
                        flex-wrap: wrap;
                        z-index: 2;
                        background-color: #f2f2f2;
                        display: none;
                        box-shadow: 0px 4px 5px black;

                        ul {
                            width: calc(1230px / 6);

                            label {
                                line-height: normal;
                                width: 100%;
                                float: none;


                                li {
                                    font-size: 13px;
                                    padding: 12px 0px 12px 24px;
                                    font-weight: bold;
                                    display: block;

                                    @media(max-width:860px) {
                                        font-weight: lighter;
                                        padding: 14px 15px 15px;
                                        margin: 1px;
                                        border: 1px solid rgba($color: #000000, $alpha: 0);
                                        border-bottom: 1px solid #e6e6e6;
                                    }
                                }

                                @media(max-width:860px) {
                                    li:active {
                                        border: 1px dashed #000;
                                    }
                                }

                                i {
                                    display: none;

                                    @media(max-width:860px) {
                                        display: block;
                                        float: right;
                                    }
                                }

                            }

                            input {
                                &:checked+ul {
                                    display: block;
                                }
                            }

                            ul {

                                a {
                                    color: #000;
                                    text-decoration: none;



                                    li {
                                        padding: 12px 0px 12px 24px;
                                        font-size: 13px;
                                        border: 1px solid rgba($color: #000000, $alpha: 0);

                                        &:active {
                                            border: 1px dashed #000;
                                        }

                                        @media(max-width:860px) {
                                            padding: 14px 15px 15px;
                                            margin: 1px;
                                            border-bottom: 1px solid #e6e6e6;
                                        }

                                    }

                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }

                                @media(max-width:860px) {
                                    padding: 1px 0px 0px 30px;
                                    display: none;
                                }

                            }



                            @media(max-width:860px) {
                                width: 100%;

                            }
                        }

                        &>a {

                            width: 100%;
                            text-align: center;
                            padding: 12px 0px;
                            color: #000;
                            text-decoration: none;

                            @media(max-width:860px) {
                                text-align: start;
                                font-size: 13px;
                                padding: 14px 15px 15px;
                                margin: 1px;
                                border: 1px solid rgba($color: #000000, $alpha: 0);
                                border-bottom: 1px solid #e6e6e6;

                            }
                        }

                        @media(max-width:860px) {
                            width: 100%;
                            position: static;
                            display: block;
                            padding: 0px;
                            box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
                            border-bottom: #000 solid 1px;

                        }
                    }

                    @media(max-width:860px) {
                        position: absolute;
                        top: 60px;
                        z-index: 2;
                        width: 100%;
                        display: none;
                        background-color: #f2f2f2;

                    }

                }




                .search-login {
                    float: right;
                    display: flex;
                    line-height: 60px;
                    font-size: 16px;

                    .link {
                        height: 55px;
                        padding: 0px 10px;
                        border: 1px solid rgba($color: #000000, $alpha: 0);

                        a {
                            color: #000;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                                text-decoration-thickness: 2px;
                                text-underline-offset: 5px;

                            }

                        }

                        &:active {
                            border: 1px dashed #000;
                        }
                    }

                    .search {
                        @media(max-width:860px) {
                            flex-grow: 1;
                        }

                    }

                    .shop {
                        @media(max-width:860px) {
                            float: right;
                        }
                    }

                    .login {

                        a {
                            width: 70px;
                            height: 60px;
                            display: flex;

                            img {
                                width: 32px;

                            }

                            @media(max-width:1400px) {
                                width: 32px;
                                justify-content: center;
                                align-items: center;
                            }

                            @media(max-width:860px) {
                                float: right;
                            }
                        }


                    }

                    span {
                        @media(max-width:1400px) {
                            display: none;
                        }
                    }

                    @media(max-width:860px) {
                        display: flex;
                        width: 90%;
                    }

                }

                @media(max-width:1086px) {
                    padding: 0px 3%;
                }

                @media(max-width:860px) {
                    padding: 0%;
                }
            }


        }

    }


    main {

        .banner {
            position: relative;
            // display: flex;

            picture {

                img {
                    width: 100%;

                }

            }

            .picture-word-shell {
                width: 100%;
                position: absolute;
                top: 0px;
                padding-left: 10%;
                padding-top: 10%;

                .picture-word {
                    width: 30%;

                    .news-release {
                        display: inline-block;
                        padding: 5px 15px;
                        background-color: #ffb900;
                        margin-bottom: 15px;
                    }

                    h1 {
                        font-size: 37px;
                        margin-bottom: 15px;
                    }

                    .describe {
                        margin-bottom: 15px;
                    }

                    p {
                        display: inline-block;
                        border: 0px;
                        background-color: #0067b8;
                        color: white;
                        font-size: 15px;
                        padding: 10px 15px;
                    }

                    @media(max-width:1086px) {
                        width: 100%;
                        background-color: white;
                        padding: 48px;
                        box-shadow: 0px 0px 8px rgb(107, 107, 107);
                    }

                    @media(max-width:860px) {

                        box-shadow: 0px 4px 5px rgba(107, 107, 107, 0.39);
                    }
                }

                @media(max-width:1086px) {

                    position: absolute;
                    top: 60%;
                    padding: 0px 12px;
                    width: 100%;
                    // background-color: rgb(197, 17, 17);
                }

                @media(max-width:860px) {

                    position: unset;
                    padding: 0px;

                }

            }

            .box {
                width: 100%;
                height: 282px;
                display: none;

                @media(max-width:1086px) {

                    display: block;
                }

                @media(max-width:860px) {

                    display: none;
                }
            }



            @media(max-width:860px) {
                margin-bottom: 20px;
            }
        }

        .carousel-button {
            width: 100%;
            height: 50px;
            background-color: bisque;

        }

        .container-top {
            padding-top: 50px;
            margin-bottom: 80px;
            height: auto;

            ul {
                width: 100%;
                height: auto;
                // background-color: burlywood;
                display: flex;
                justify-content: center;
                text-align: center;
                list-style-type: none;
                flex-wrap: wrap;



                li {
                    width: 200px;
                    height: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    align-items: center;
                    margin-bottom: 20px;

                    img {
                        width: 40px;
                        height: 40px;
                    }

                    a {
                        color: #0067b8;
                        font-weight: bold;
                    }
                }




            }

            @media (max-width:860px) {
                margin-bottom: 0px;
            }

        }

        .container-mid {
            display: flex;
            justify-content: center;
            padding: 0px 5%;
            margin: 0px 0px 50px;

            .outer-frame {

                display: flex;
                justify-content: space-between;

                .commodity {
                    width: calc(calc(100% / 4) - 12px);

                    picture {

                        img {
                            width: 100%;
                            margin-bottom: 20px;
                        }
                    }


                    .word {
                        margin-bottom: 20px;

                        h2 {
                            font-size: 30px;
                            margin-bottom: 20px;

                            @media (max-width:1400px) {
                                font-size: 25px;
                            }

                            @media (max-width:1086px) {
                                font-size: 21px;
                            }

                        }
                    }

                    .link-group {


                        a {
                            font-size: 18px;
                            color: #0067b8;
                            text-decoration: none;
                            margin: 16px 24px 16px 0px;
                            font-weight: bold;
                            display: block;
                            width: fit-content;
                            float: left;

                            &:hover {
                                text-decoration: underline;

                            }

                            &::after {
                                content: ">";

                            }

                            @media (max-width:1086px) {
                                font-size: 16px;
                            }

                        }

                    }

                    @media(max-width:1086px) {
                        width: calc(100% / 2);
                        padding: 0px 12px;
                    }

                    @media(max-width:540px) {
                        width: 100%;
                        padding: 0px 12px;
                    }
                }

                @media(max-width:1086px) {
                    display: flex;
                    flex-wrap: wrap;
                }
            }

            @media(max-width:1086px) {
                padding: 0px;
            }

        }

        .banner-2 {
            width: 100%;
            margin: 50px 0px 80px;
            padding: 0px 5%;
            position: relative;

            picture {
                img {

                    width: 100%;
                }
            }

            .picture-word-shell {
                width: 90%;
                position: absolute;
                top: 0;
                padding-left: 5%;
                padding-top: 10%;

                .picture-word {
                    width: 24%;


                    h1 {
                        font-size: 40px;
                        margin-bottom: 15px;

                        @media (max-width:1400px) {
                            font-size: 25px;
                        }

                    }

                    .describe {
                        margin-bottom: 15px;
                    }

                    button {
                        border: 0px;
                        background-color: #0067b8;
                        color: white;
                        font-size: 15px;
                        padding: 10px 15px;
                    }

                    @media(max-width:1086px) {
                        width: 100%;
                        background-color: white;
                        padding: 48px;
                        box-shadow: 0px 0px 8px rgb(107, 107, 107);

                    }

                    @media(max-width:860px) {
                        padding: 48px 12px;
                        box-shadow: 0px 0px 0px rgb(107, 107, 107);

                    }
                }

                @media(max-width:1086px) {

                    position: absolute;
                    top: 95%;
                    padding: 0px 12px;
                    width: 100%;
                    // background-color: rgb(197, 17, 17);
                }

                @media(max-width:860px) {
                    position: unset;
                    ;
                    padding: 0px;
                    width: 100%;
                    // background-color: rgb(197, 17, 17);
                }
            }

            @media(max-width:1086px) {
                padding: 0px;
            }

            @media(max-width:1086px) {
                margin-bottom: 300px;
            }

            @media(max-width:860px) {
                margin-bottom: 20px;
            }
        }

        .container-bot {
            padding: 0px 5%;


            h1 {
                margin-bottom: 20px;

                @media (max-width:1086px) {
                    padding-left: 12px;
                    font-size: 24px;
                }
            }

            .information {
                width: 100%;
                display: flex;
                justify-content: space-between;

                .card {
                    width: calc(calc(100% / 4) - 12px);
                    margin-bottom: 60px;

                    // padding: 0px 12px;

                    ul {
                        list-style-type: none;
                        float: left;

                        li {
                            display: inline-block;
                            padding: 5px 15px;
                            background-color: #ffb900;

                        }
                    }

                    picture {
                        img {
                            width: 100%;
                            margin-bottom: 15px;
                        }
                    }

                    .word {
                        h2 {
                            font-size: 30px;
                            margin: 40px 0px 20px;

                            @media (max-width:1400px) {
                                font-size: 25px;
                            }

                            @media (max-width:1086px) {
                                font-size: 21px;
                            }
                        }

                        p {
                            margin-bottom: 20px;
                        }

                        a {

                            font-size: 18px;
                            color: #0067b8;
                            text-decoration: none;
                            display: block;
                            width: fit-content;
                            font-weight: bold;

                            &:hover {
                                text-decoration: underline;
                            }

                            @media (max-width:1086px) {
                                font-size: 16px;
                            }
                        }
                    }

                    @media(max-width:1086px) {
                        width: calc(100% / 2);
                        padding: 0px 12px;
                    }

                    @media(max-width:540px) {
                        width: 100%;
                        padding: 0px 12px;
                    }
                }

                @media(max-width:1086px) {
                    display: flex;
                    flex-wrap: wrap;
                }
            }

            .community {
                margin-bottom: 100px;

                ul {
                    width: 200px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    li {
                        list-style-type: none;
                    }

                    img {
                        width: 32px;
                        height: 32px;
                    }
                }

                @media (max-width:1086px) {
                    padding-left: 12px;
                }
            }

            @media(max-width:1086px) {
                padding: 0px;
            }
        }

        .back {
            width: 100%;


            .buttom {
                position: sticky;
                right: 20px;
                bottom: 20px;
                float: right;
                // margin-right: 20px;
                width: 100px;
                height: 30px;
                text-align: center;
                line-height: 30px;
                // padding: 10px 12px;
                background-color: #616161;

                a {
                    color: #000;
                    text-decoration: none;
                }
                @media(max-width:540px) {
                    width: 100%;
                    position: static;
                    
                }
            }
            @media(max-width:540px) {
                padding: 0px 12px;
            }


        }

        .back-box {
            width: 100%;
            height: 60px;
        }

        .footer {
            width: 100%;
            background-color: #f2f2f2;

            .table {
                width: 100%;
                padding: 0px 5%;
                margin-bottom: 20px;
                display: flex;
                justify-content: space-between;

                .list {
                    width: calc(calc(100% / 6) - 10px);
                    padding: 0px 5px;

                    p {
                        padding: 30px 0px 8px 0px;
                        font-size: 15px;
                    }

                    li {
                        padding: 8px 0px;
                        font-size: 11px;

                        a {
                            color: #616161;
                            text-decoration: none;

                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }

                    @media (max-width:1086px) {
                        width: calc(100% / 3);
                        padding: 0px;
                    }

                    @media(max-width:540px) {
                        width: 100%;
                        padding: 0px;
                    }
                }

                .latest-trends {
                    padding-left: 0px;

                }

                @media (max-width:1086px) {
                    padding: 0px 24px;
                    flex-wrap: wrap;
                }

            }

            .statement {
                padding: 0px 5%;
                display: flex;
                justify-content: space-between;
                // padding-bottom: 20px;
                flex-wrap: wrap;

                .earth {
                    font-size: 13px;
                    margin-bottom: 16px;

                    a {
                        color: #616161;
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    @media(max-width:540px) {
                        margin-bottom: 24px;

                    }
                }

                .microsoft-link {
                    ul {

                        display: flex;

                        li {
                            margin-right: 12px;
                            margin-bottom: 20px;
                            font-size: 11px;

                            a {
                                color: #616161;
                                text-decoration: none;

                                &:hover {
                                    text-decoration: underline;
                                }
                            }

                            @media(max-width:540px) {
                                margin-right: 5px;

                            }
                        }
                    }
                }

                @media (max-width:1086px) {
                    padding: 0px 24px 0px 24px;
                }

                @media(max-width:540px) {
                    padding: 0px 24px 20px;
                    flex-direction: column;

                }

            }
        }

    }
}